* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav,header {
    border:1px solid #999;
}

.titre {
    color:brown;
    font-size:50px;
}

.punchline {
    font-size:20px;
    color:cadetblue;
    font-style: oblique;
}

nav li {
    display:inline-block;   
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li a {
    border:1px solid #000;    
    padding:10px;
    background-color:#FAA; 
}


nav li a:hover {
    background-color:#AFA; 
}

footer {
    color:white;
    background-color: #123;
    text-align: center;
}

footer a {
    color:white;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

table, td, th {
    border:1px solid #123;
    border-collapse: collapse;
    padding:10px;
}

.message {
    border:1px solid #234;
    margin:10px;
    border-radius: 8px;
    padding:5px;
}

.auteur {
    font-weight: bold;
    color:brown;
}

.datetime {
    font-size:10px;
    color:#678;
}

.texte {
    background-color: cornsilk;
}

form {
    border:2px double #893;
    background-color: #ADE;
}

