body
{
	margin: auto;
}

.container
{
	display: flex;
}

ul li
{
	display: inline-block;
	border: 1px solid black;
}

table .bloc_infos
{
	display: inline-block;
}

table, tr, td
{
	border: 1px solid black;
	border-collapse: collapse;
}

tr, td
{
	border: 1px solid black;
	padding: 3px 5px 3px 5px;
}

.titre_tache
{
	text-align: right;
}

a
{
	text-decoration: none;
}

a:hover
{
	color: orange;
}

.importance
{
	text-align: center;
	margin: 2px 5px 2px 5px;
}

.termine_tache
{
	text-align: center;
}

.barrer
{
	text-decoration: line-through;
}